<div class="navbar navbar-inverse">
  {% block topbar %}
  <div class="navbar-inner">
      <a class="brand" href="{{ home_url }}">{{ site_title }}</a>
      {% from "macros.j2" import render_main_menu with context %}
      {{ render_main_menu() }}
  </div>
  {% endblock topbar %}
</div>
